@import url(../fonts/Poppins/Poppins.css);
@import url(../fonts/Lato/Lato.css);
@import url(../fonts/Montserrat/Montserrat.css);
@import url(../fonts/Ubuntu/Ubuntu.css);
@import url(../fonts/Open_Sans/open_sans.css);
@import url(../fonts/Noto_Sans_JP/Noto_Sans_JP.css);
@import url(../fonts/Inter/Inter.css);


body {
    background-color: white !important;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

/* Estilo del carrusel */
#carouselExample {
    max-width: 1280px;
    height: 300px;
    /* tamaño del carrusel */
    margin: 0 auto;
}

.carousel-item img {
    object-fit: fill;
    height: max-content;
}

/* Personalización del Navbar */
#navbar {
    background-color: #ffffff91 !important;
    padding: 7px;
}

main {
    margin-top: 5px;
}

/* Logo del navbar */
.navbar-brand {
    padding: 5px;
}   

.navbar-brand img {
    max-width: 180px;
    /* tamaño del logo */
    width: 180px;
    height: auto;
}

/*.line {
    background: #0dcaf0;
    padding: 1.4px;
    border-radius: 25px;
    position: fixed;
    width: 192px;
    margin-top: 11px;
}*/

.line-select-principal {
    background: #ff0c0c;
    padding: 1.4px;
    border-radius: 25px;
    position: fixed;
    width: 80px;
    margin-top: 11px;
    display: none;
}

.line-select-nosotros {
    background: #ff0c0c;
    padding: 1.4px;
    border-radius: 25px;
    position: fixed;
    width: 108px;
    margin-top: 11px;
    display: none;
}

.line-select-servicios {
    background: #ff0c0c;
    padding: 1.4px;
    border-radius: 25px;
    position: fixed;
    width: 110px;
    margin-top: 11px;
    display: none;
}

.line-select-contactos {
    background: #ff0c0c;
    padding: 1.4px;
    border-radius: 25px;
    position: fixed;
    width: 135px;
    margin-top: 11px;
    display: none;
}

/* Estilo de los enlaces del navbar */
.navbar-nav .nav-link {
    color: #2c72df !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

/* Cambiar color de los enlaces al pasar el mouse por encima */
.navbar-nav .nav-link:hover {
    color: rgb(199, 4, 14) !important;
}

/* Estilo de los elementos de navegación */
.nav-item {
    margin-right: 20px;
    /* Espaciado entre los elementos del navbar */
}

/* Espaciado en la parte superior para que no se superponga con el navbar */
.hero {
    padding-top: 80px;
}

/* Estilos de botones */
.btn-primary {
    background-color: #d14431;
    color: #333;
    border-radius: 30px;
    padding: 12px 30px;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #d14431;
    ;
}

/* Sección de contenido principal */
.content-section {
    padding: 60px 0;
}

/* Diseño de grid carrusel*/

.grid-item {
    text-align: center;
    margin-bottom: 30px;
}

.grid-item img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0px;
    margin-bottom: 15px;
}


.grid-carrusel .card-body{
    height: 200px;
}

/* diseño de las secciones de la pagina nosotros */
.contenido {
    background-color: #f7f7f7;
    /* Fondo gris claro */

    padding: 20px;
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

/*seccion servicios*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.container section {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

section h2 {
    color: #004080;
    margin-bottom: 15px;
}

section img {
    max-width: 80%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}

section ul {
    list-style-type: square;
    margin-left: 20px;
    text-align: left;
    color: #333;
}

/* Footer */
.footer {
    background-color: #2a3c70 !important;
    /* Fondo oscuro */
    color: #fff;
    /* Texto blanco */
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer .footer-logo-img {
    max-width: 150px;
    /* Tamaño del logo */
    height: auto;
}

.footer-description {
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.6;
}

.footer .footer-heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer .footer-links,
.footer .footer-contact,
.footer .footer-social {
    list-style-type: none;
    padding: 0;
}

.footer .footer-links li,
.footer .footer-contact li,
.footer .footer-social li {
    margin-bottom: 8px;
}

.footer .footer-links a,
.footer .footer-contact a,
.footer .footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer .footer-links a:hover,
.footer .footer-contact a:hover,
.footer .footer-social a:hover {
    color: #fa6f1f;
}

.footer .footer-social-icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}

.footer .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.footer .footer-bottom-links {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.footer .footer-bottom-links li {
    display: inline;
    margin-right: 20px;
}

.footer .footer-bottom-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer .footer-bottom-links a:hover {
    color: #fa6f1f;
}

/* Enlaces */

.link-principal {
    cursor: pointer;
}

/* Responsividad */
@media (max-width: 768px) {
    .footer .row>div {
        margin-bottom: 30px;
    }

    .container {
        margin-top: 30px;
    }

    .img-fluid {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .section-title {
        font-size: 1.4em;
        text-align: center;
    }

    .values-list li {
        font-size: 1.1em;
    }
}